<div class="bg--img" style="background-image: url('{{site.img}}/promo-campaign-bg.jpg');">
  <div class="container vpad--xxxl text--white">
    <div class="width--lg">
      <h3 class="title title--xxl text--bold">Southeastern Summer Offer</h3>
      <p class="text--xxl text--normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo optio maiores, magni ab sed temporibus incidunt corporis cum, rerum eveniet earum dolores vero quisquam sunt obcaecati ratione minus aperiam ea.</p>
      <div class="space--lg">
        <a href="{{site.client.link}}" class="btn btn--lg btn--cyan">Buy tickets</a>
      </div>
    </div>
  </div>
</div>