---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview
meta-title: "The South East: A Secret Guide"

banner:
  content: >
    <div class="container container--no-padding text--center">
      <h2 class="banner-title-sup-alt">The South East:</h2>
      <h1 class="banner-title">A Secret Guide</h1>
      <h2 class="banner-title-sub">...with Southeastern</h2>
    </div>

journal:
  title: Discover our adventures in the South East in our journal...
  link: "/journals/george/"

se-banner-link: https://www.southeasternrailway.co.uk/destinations-and-offers/offers?utm_source=secret_escapes&utm_medium=partnerships&utm_campaign=secret_escapes&utm_content=hub_overview_banner
---

<div class="bg--light">
  <div class="container vpad--xxl">
    <div class="width width--xl text--xl text--center">
      <p>{{site.description}}</p>
      <p>We’ve compiled our favourite hidden gems in glorious destinations, from Margate to Hastings and beyond. Plan your perfect weekend away with our guide and escape the city with Southeastern – taking the stress out of travel. In little over an hour you could be indulging in gelato at Morelli's or digging for treasure at Robert’s Rummage, after an effortless ride through beautiful countryside. Find your perfect place to stay with luxurious hotel offers and take advantage of the Southeastern summer offer with unmissable Off-Peak day returns starting at £15.</p>
      <p>The South East – unpick its secrets here.</p>
      <div class="space--md"></div>
      <a href="https://www.southeasternrailway.co.uk/destinations-and-offers/offers?utm_source=secret_escapes&utm_medium=partnerships&utm_campaign=secret_escapes&utm_content=hub_overview_cta" class="btn btn--green" id="track-overview-intro-se-btn">Buy Day Return From £15</a>
    </div>
  </div>
</div>

<div class="map-intro">
  <div class="container vpad--xl">
    <div class="width width--xl text--center">
      <p class="title title--sm">Explore the hidden gems of the South East with our interactive map, which shows you the best hotels and destinations you can easily discover by train.</p>
      <div class="space--sm"></div>
      <a class="btn btn--blue js-open-map">Explore The Map</a>
    </div>
  </div>
</div>

<div class="bg--white">
  <div class="container vpad--xxxl">
    {% assign guide-pages = site.html_pages | where: 'layout', 'guide' | sort: 'group-order' %}
    {% for item in guide-pages %}
      <div class="row row--valign-center{% unless forloop.first %} space--xxxl{% endunless %}">
        <div class="col col--xl-7">
          <div class="bg-img bg-img--3-2 bg-img--xl-4-3" style="background-image: url('{{site.img}}/content/{{item.id}}/nav.jpg');">
            <a href="{{site.baseurl}}{{item.url}}" class="bg-img__link"></a>
          </div>
        </div>
        <div class="col col--xl-5">
          <h3 class="sub-title sub-title--sm">{{item.banner.title-sup}}</h3>
          <h2 class="title title--xxl title--bold">{{item.banner.title}}</h2>
          <p class="text--xxl space--sm">{{item.intro}}...</p>
          <div class="space--sm">
            <a href="{{site.baseurl}}{{item.url}}" class="btn btn--blue">Read the guide</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="bg--light">
  <div class="container vpad--xxxl">
      <div class="row row--valign-center">
        {% assign blog-george = site.html_pages | where: 'id', 'blog-george' | first %}
        <div class="col col--5 text--center text--bp-left">
          <h2 class="title title--md">{{page.journal.title}}</h2>
          <div class="space--sm">
            <a href="{{site.baseurl}}{{page.journal.link}}" class="btn btn--green">Read the Journal</a>
          </div>
        </div>
        <div class="col col--7">
          <div class="bg-img bg-img--16-9 bg-img--lg-3-2" style="background-image: url('{{site.img}}/content/the-journal/nav.jpg');">
            <a href="{{site.baseurl}}{{page.journal.link}}" class="bg-img__link"></a>
          </div>
        </div>
      </div>
  </div>
</div>

{% include page/promo-campaign.html %}

{% include page/offer-sample.html %}