// general icon styles

$mobile-icon-size: 18px;
$desktop-icon-size: 24px;

.icon {
  display: inline-block;
  height: $mobile-icon-size;
  width: $mobile-icon-size;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $mobile-icon-size;
  &--menu { background-image: url("../img/icons/menu.svg"); }
  &--close { background-image: url("../img/icons/close.svg"); }
  &--clock { background-image: url("../img/icons/clock.svg"); }
  @include bp($md){
    height: $desktop-icon-size;
    width: $desktop-icon-size;
    background-size: $desktop-icon-size;
  }
  &--sm {
    height: ($mobile-icon-size / 1.33);
    width: ($mobile-icon-size / 1.33);
    background-size: ($mobile-icon-size / 1.33);
    @include bp($md){
      height: ($desktop-icon-size / 1.33);
      width: ($desktop-icon-size / 1.33);
      background-size: ($desktop-icon-size / 1.33);
    }
  }
}