<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    <div class="bg--fade" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg'); background-color: {{page.bg-color}};">

      <div class="site-header__offset"></div>
      {% include nav/site.html %}

      <div class="content-spacing">
        <div class="container text--white">

          <div class="space--xxxxl"></div>
          <div class="space--xl"></div>
          <div class="text--center width width--xl">
            {% if page.banner.title-sup %}<h2 class="banner-title-sup">{{page.banner.title-sup}}</h2>{% endif %}
            <h1 class="banner-title">{{page.banner.title}}</h1>
          </div>
          <div class="space--xl"></div>
          <div class="author">
            <div class="author__image">
              <img src="{{site.img}}/content/{{page.id}}/{{page.author.id}}.jpg" alt="{{page.author.name}}">
            </div>
            <div class="author__description">
              <p><span class="title title--xxs">{{page.author.name}}</span> <span class="hspace"></span><span class="text--xl">Secret Escapes</span></p>
              <p>{{page.author.intro}}</p>
            </div>
          </div>
          <div class="space--xxl"></div>
          <div class="width width--xl">
            {% for item in page.blog %}
            <div class="width width--xl text--lg vpad--xl">
              <h2 class="title title--xl text--center">{{item.title}}</h2>
              <div class="space--lg"></div>
              <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/{{item.image}}.jpg');"></div>
              <div class="space--lg"></div>
              <div class="width width--lg text--xl text--normal">
                {{item.content}}
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="">
            <div class="space--xl"></div>
            <div class="row row--xl-6-6 row--valign-center">
              {% assign blog-george = site.html_pages | where: 'id', 'blog-george' | first %}
              <div class="col">
                <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/competition/03.jpg');">
                  <a href="{{site.baseurl}}/competition" class="bg-img__link"></a>
                </div>
              </div>
              <div class="col">
                <h2 class="title title--xl">Win your own adventure in the South&nbsp;East!</h2>
                <p class="text--xxl text--normal space--sm">Win a boutique stay in Kent with £500 spending money courtesy of Secret Escapes!</p>
                <div class="space--sm">
                  <a href="{{site.baseurl}}/competition" class="btn btn--blue">Enter Now</a>
                </div>
              </div>
            </div>
            <div class="space--xxxxl"></div>
          </div>
        </div>
      </div>
    </div>

    {% include page/promo-campaign.html %}

    {% include page/offer-sample.html %}

    {% include page/footer.html %}

  </body>

</html>