<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    <div class="bg--fade" style="background-image: url('{{site.img}}/content/competition/bg.jpg'); background-color: #242335;">
      <div class="site-header__offset"></div>
      {% include nav/site.html %}
      <div class="content-spacing">
        <div class="container">
          <div class="width width--xl text--center">
            <div class="space--xxxxl"></div>
            <div class="space--xl"></div>
            <h1 class="title title--xxl text--white">{{page.title}}</h1>
            <div class="space--lg"></div>
            <a href="#entry-form" class="btn btn--lg btn--blue">Enter Now</a>
            <div class="space--xxxl"></div>
            <div class="width width--xl bg--white boxpad--xl text--xl">
              <p>{{page.intro}}</p>
              <p>Enjoy a two-night stay in the King room, with seaside views that will make you forget all about the city life. With £500 to spend at your leisure courtesy of Secret Escapes you can unpick the fine dining spots across Thanet, with short trips to Broadstairs, Margate and Sandwich – all at your doorstep.</p>
              <p>We’re also giving away a runner’s up prize of £500 Secret Escapes voucher so you can plan your own South East getaway!</p>
            </div>
            <div class="space--xxxl"></div>
          </div>
        </div>

        <div class="container">
          <div class="row row--4-4-4">
            <div class="col">
              <div class="bg-img bg-img--3-2 bg-img--lg-1-1" style="background-image: url('{{site.img}}/content/competition/01.jpg');"></div>
            </div>
            <div class="col">
              <div class="bg-img bg-img--3-2 bg-img--lg-1-1" style="background-image: url('{{site.img}}/content/competition/02.jpg');"></div>
            </div>
            <div class="col">
              <div class="bg-img bg-img--3-2 bg-img--lg-1-1" style="background-image: url('{{site.img}}/content/competition/03.jpg');"></div>
            </div>
          </div>
          <div class="space--xxxxl"></div>
        </div>

        <div id="entry-form" class="bg--white vpad--xxl text--center">
          <div class="container">
            <h3 class="title title--md">Enter below for your chance to win</h3>
            <div class="space--lg"></div>
            <div class="width width--lg boxpad--sm bg--light">
              <iframe src="{{page.entry-form.url}}" width="100%" height="{{page.entry-form.height}}"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include page/promo-campaign.html %}

    {% include page/footer.html %}

  </body>

</html>