---
layout: default
---

<div class="bg--light">
  <div class="container vpad--xxl">
    <div class="width width--lg text--center">
      <p class="title title--xs" style="line-height: 1.4">{{page.intro}}</p>
      <p class="text--xl">Hop aboard! The train’s about to leave {{page.departing-station}}…</p>
    </div>
  </div>
</div>

{% for item in page.destinations %}
  <div class="{% cycle 'bg--white', 'bg--light' %}">
    <div class="container {% if item.town %}vpad--xl{% else %}vpad--xxxl{% endif %}">
      <div class="text--center {% if item.town %}container container--xxl vpad--xxxl bg--img text--white bg--dark{% endif %}"{% if item.town %} style="background-image: url('{{site.img}}/content/{{page.id}}/{{item.id}}.jpg');"{% endif %}>
        <h2 class="title title--xxxl">{{item.title}}</h2>
        <div class="travel-time">
          <div class="travel-time__wrap{% cycle '', ' travel-time__wrap--white' %}">
            <div class="icon icon--sm icon--clock"></div> <div class="hspace"></div> {{item.travel-time}} from {{page.departing-station}}
          </div>
        </div>
        <div class="width width--xl space--md">
          <p class="text--lg{% if item.town %} text--bold{% endif %}">{{item.description}}</p>
          <div class="space--md">
            {% if item.offer-price %}
              <a href="{{site.client.link}}" class="btn {% if item.town %}btn--{% cycle 'green', 'blue' %}{% else %}btn--outline btn--outline-{% cycle 'green', 'blue' %}{% endif %}">Tickets for £{{item.offer-price}} return</a>
            {% else %}
              <a href="{{item.ticket-link}}" class="btn {% if item.town %}btn--{% cycle 'green', 'blue' %}{% else %}btn--outline btn--outline-{% cycle 'green', 'blue' %}{% endif %}">Tickets to {{item.title}}</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="space--xl row row--6-6 row--xxl-4-4-4">
        {% for poi in item.pois %}
          <div class="col">
            <div class="bg-img bg-img--3-2 bg-img--lg-1-1" style="background-image: url('{{site.img}}/content/{{page.id}}/{{item.id}}/{{poi.id}}.jpg');"></div>
            <h3 class="title title--md space--sm">{{poi.title}}</h3>
            <p>{{poi.description}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}

{% include page/promo-campaign.html %}

<div class="bg--light">
  <div class="container vpad--xxl">
    <div class="text--center">
      <h4 class="title title--lg">Read more guides</h4>
    </div>
    <div class="row row--xxl-6-6 space--lg">
      {% assign guide-pages = site.html_pages | where: 'layout', 'guide' | sort: 'nav-order' %}
      {% for item in guide-pages %}
        {% if page.id != item.id %}
          <div class="col">
            <div class="width width--lg">
              <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{item.id}}/nav.jpg');">
                <a href="{{site.baseurl}}{{item.url}}" class="bg-img__link"></a>
                <div class="bg-img__content">
                  <div>
                    <h6 class="sub-title sub-title--xs">{{item.banner.title-sup}}</h6>
                    <h5 class="title title--xxl title--bold">{{item.banner.title}}</h5>
                  </div>
                </div>
                <div class="bg-img__bg-overlay"></div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="bg--white">
  <div class="container vpad--xxl">
    <div class="text--center">
      <h3 class="title title--xxl">Special Offers</h3>
    </div>
    <div class="row row--xl-6-6 row--gutters-lg space--xl">
      {% assign offers-preview = site.data.offers | sort: 'saved' | reverse %}
      {% for offer in offers-preview limit: 2 %}
        <div class="col">
          {% include offer/offer.html %}
        </div>
      {% endfor %}
    </div>
    <div class="text--center space--xxl">
      <a href="{{site.baseurl}}/offers" class="btn btn--lg btn--orange">View all offers</a>
    </div>
  </div>
</div>